
@{
ViewBag.Title = "Simular";
}

<h2>Simular</h2>
@using (Html.BeginForm("Simular","Simulador",FormMethod.Post))
{
<div class="form-group">
    <label class="control-label col-md-2" for="numero_simulaciones">Numero de reclamos: </label>
    <div class="col-md-2">
        @Html.Editor("numero_simulaciones", new { htmlAttributes = new { @class = "form-control", @id = "numero_simulaciones", @name = "numero_simulaciones", @type="number" } })
    </div>
    <div class="col-md-8">
        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-check"></span> Simular</button>
    </div>
</div>
}
<br />
 



